<include file="Public/header" />
</head>
<body>
    <div class="wrap js-check-wrap">
        <ul class="nav nav-tabs">
            <li><a href="{:U('Rbac/index')}">{:L('ADMIN_ROLE_MANAGE')}</a></li>
            <li><a href="{:U('Rbac/add')}">{:L('ROLE_ADD')}</a></li>
            <li class="active"><a href="{:U('Rbac/edit')}">{:L('ROLE_EDIT')}</a></li>
        </ul>
        <form class="form-horizontal js-ajax-form" action="{:U('Rbac/do_edit')}" method="post">
            <fieldset>
                <div class="control-group">
                    <label class="control-label"><span class="form-required">*</span> {:L('NAME')}</label>
                    <div class="controls">
                            <input type="text" name="name" value="{$role.name}" id="rolename"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{:L('REMARK')}</label>
                    <div class="controls">
                            <textarea name="remark" rows="3" cols="20" id="remark" style="height: 100px; width: 500px;">{$role.remark}</textarea>
                    </div>
                </div>
                    <div class="control-group">
                        <label class="control-label">{:L('STATUS')}</label>
                        <div class="controls">
                            <php>$active_true_checked=($role['status']==1)?"checked":"";</php>
                            <label class="radio inline" for="active_true"><input type="radio" name="status" value="1"  id="active_true" {$active_true_checked} />{:L('ENABLED')}</label>
                            <php>$active_false_checked=($role['status']==0)?"checked":"";</php>
                            <label class="radio inline" for="active_false"><input type="radio" name="status" value="0" id="active_false" {$active_false_checked}>{:L('DISABLED')}</label>
                        </div>
                    </div>
            </fieldset>
            <div class="form-actions">
                <input type="hidden" name="id" value="{$role.id}">
                <button type="submit" class="btn btn-primary js-ajax-submit">{:L('EDIT')}</button>
                <a class="btn" href="{:U('rbac/index')}">{:L('BACK')}</a>
            </div>
        </form>
    </div>
<script src="__STATIC__/common.js"></script>
</body>
</html>