<include file = "Public/header" />
</head>
<body>
    <div class="wrap">
        <ul class="nav nav-tabs">
            <li><a href="{:U('Config/index')}">{:L('WEBSITE_CONFIG_MANAGE')}</a></li>
            <li class="active"><a href="{:U('Config/add')}">{:L('WEBSITE_CONFIG_ADD')}</a></li>
        </ul>
        <form method="post" class="form-horizontal js-ajax-form" action="{:U('Config/do_add')}">
            <fieldset>
                <div class="control-group">
                    <label class="control-label"><span class="form-required">*</span> {:L('NAME')}</label>
                    <div class="controls">
                        <input type="text" name="name" value="">
                        <span class="help-block"><small>用于C函数调用，只能使用英文且不能重复</small></span>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label"><span class="form-required">*</span> {:L('TITLE')}</label>
                    <div class="controls">
                        <input type="text" name="title" value="">
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">{:L('TYPE')}</label>
                    <div class="controls">
                        <select name="type">
                        <foreach name="Think.config.CONFIG_TYPE_LIST" item="type">
                            <option value="{$key}">{$type}</option>
                        </foreach>
                        </select>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">{:L('GROUP')}</label>
                    <div class="controls">
                        <select name="group">
                            <option value="0">不分组</option>
                            <foreach name="Think.config.CONFIG_GROUP_LIST" item="group">
                                <option value="{$key}">{$group}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">{:L('VALUE')}</label>
                    <div class="controls">
                        <textarea name="value"></textarea>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">{:L('EXTRA')}</label>
                    <div class="controls">
                        <textarea name="extra"></textarea>
                        <span class="help-block"><small>如果是枚举型 需要配置该项</small></span>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">{:L('REMARK')}</label>
                    <div class="controls">
                        <textarea name="remark"></textarea>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">{:L('SORT')}</label>
                    <div class="controls">
                        <input type="text" name="sort" value="">
                    </div>
                </div>    
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary js-ajax-submit">{:L('ADD')}</button>
                <a class="btn" href="{:U('Config/index')}">{:L('BACK')}</a>
            </div>
        </form>
    <div>
<script src="__STATIC__/common.js"></script>    
</body>
</html>
